snippet pln "println" bA
println!("$1", $2);$0
endsnippet

snippet stt "status table" bA
//!
//! | CP | SP | CT | ST |
//! | --- | --- | --- | --- |
//! | ${1:TODO} | ${2:TODO} | ${3:TODO} | ${4:TODO} |
endsnippet
